@font-face {
  font-family: "iconfont"; /* Project id 3485002 */
  src: url('iconfont.woff2?t=1656163990952') format('woff2'),
       url('iconfont.woff?t=1656163990952') format('woff'),
       url('iconfont.ttf?t=1656163990952') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shenghuo:before {
  content: "\e604";
}

.icon-jishurenyuan:before {
  content: "\e658";
}

.icon-home_nav_home_selected:before {
  content: "\e62c";
}

.icon-sheying:before {
  content: "\e603";
}

